<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
     <h1>Basketball Team! </h1>
  Coach: <%= @coach %>
  Team Name: <%= @name %>
  
  Point Guard: <%=@pointg %>
  Shooting Guard: <%=@shootingg %>
  Power Forward: <%=@powerf %>
  
  Small Forward: <%=@smallf %>
  Center: <%=@center %>
 </body>
</html>


